# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 4. How many products cost more than $10.00?

In [3]:
#primeiro eu retiro o dolar da string com a função lambda
valor = lambda x :float(x[1:-1])

#para cada valor no lambda, eu executo a função acima que tira o primeiro e o ultimo valor da string e transforma em float. 
# tira o ultimo porque os valores estão salvos com espaço no final
chipo['item_price'] = chipo.item_price.apply(valor)
chipo.shape

(4622, 5)

In [4]:
#

#print(chipo.shape)

chipo_filtter = chipo.drop_duplicates(['item_name', 'choice_description', 'quantity'])
chipo_filtter = chipo_filtter[chipo_filtter.quantity==1]

chipo_filtter_products10 =chipo_filtter.query('item_price>10')

print(len(chipo_filtter_products10))

chipo_filtter.shape

685

(1806, 5)

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [5]:
chipo_filtter = chipo_filtter.drop_duplicates(['item_name','item_price'])
chipo_filtter_price = chipo_filtter[['item_name', 'item_price']]
chipo_filtter_price.sort_values(by ='item_price', ascending= True)

                item_name  item_price
34          Bottled Water        1.09
28            Canned Soda        1.09
263     Canned Soft Drink        1.25
6           Side of Chips        1.69
40                  Chips        2.15
...                   ...         ...
93       Carnitas Burrito       11.75
97          Carnitas Bowl       11.75
1132  Carnitas Salad Bowl       11.89
606      Steak Salad Bowl       11.89
1229  Barbacoa Salad Bowl       11.89

[128 rows x 2 columns]

### Step 6. Sort by the name of the item

In [6]:
chipo_filtter_price.sort_values(by="item_name")

              item_name  item_price
298   6 Pack Soft Drink        6.49
4510      Barbacoa Bowl       11.49
95        Barbacoa Bowl        9.25
115       Barbacoa Bowl        8.99
3195      Barbacoa Bowl        8.69
...                 ...         ...
186   Veggie Salad Bowl       11.25
960   Veggie Salad Bowl        8.75
1395  Veggie Soft Tacos        8.49
781   Veggie Soft Tacos        8.75
738   Veggie Soft Tacos       11.25

[128 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [7]:
chipo.sort_values(by = 'item_price', ascending= False).head(1)

#chipo_filtter_most_expensive = chipo_filtter.groupby(by="order_id")

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [8]:
chipo_salad = chipo[chipo.item_name == 'Veggie Salad Bowl']
len(chipo_salad)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [16]:
chipo_soda  = chipo[chipo.item_name=='Canned Soda']
chipo_soda = chipo_soda[chipo_soda.quantity>=2]
len(chipo_soda)

20